profile:
  # based on combined with ERM modules (and some more)
  name: erm
application:
  name: app-erm
  version: 1.0.0
  fetch-descriptors: false
  port-start: 35000
  port-end: 35999
  dependencies:
    name: app-combined
    version: 1.0.0
registry:
  url: https://folio-registry.dev.folio.org
install:
  folio: https://raw.githubusercontent.com/folio-org/platform-complete/snapshot/install.json
  eureka: https://raw.githubusercontent.com/folio-org/platform-complete/snapshot/eureka-platform.json
environment:
  # PostgreSQL
  DB_HOST: postgres.eureka
  DB_PORT: 5432
  DB_DATABASE: folio
  DB_USERNAME: folio_rw
  DB_PASSWORD: supersecret
  DB_CHARSET: UTF-8
  DB_QUERYTIMEOUT: 60000
  DB_MAXPOOLSIZE: 4
  # Kafka
  ENV: folio
  KAFKA_HOST: kafka.eureka
  KAFKA_PORT: 9092
  KAFKA_PRODUCER_TENANT_COLLECTION: ALL
  # Kong
  KONG_ADMIN_URL: http://kong.eureka:8001
  KONG_INTEGRATION_ENABLED: "true"
  # Keycloak
  KC_URL: http://keycloak.eureka:8080
  KC_CONFIG_TTL: 3600s
  KC_ADMIN_CLIENT_ID: folio-backend-admin-client
  KC_ADMIN_CLIENT_SECRET: supersecret
  KC_ADMIN_USERNAME: admin
  KC_ADMIN_PASSWORD: admin
  KC_IMPORT_ENABLED: "true"
  KC_INTEGRATION_ENABLED: "true"
  KC_LOGIN_CLIENT_SUFFIX: -application
  KC_SERVICE_CLIENT_ID: sidecar-module-access-client
  KC_URI_VALIDATION_ENABLED: "false"
  SECURITY_ENABLED: "true"
  OKAPI_INTEGRATION_ENABLED: "false"
  WEB_CLIENT_TLS_VERIFY_HOSTNAME: "false"
  # Java
  JAVA_OPTIONS: >-
    -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005 
    -XX:MaxRAMPercentage=80.0 -Xms128m -Xmx400m 
    -Djdk.internal.httpclient.disableHostnameVerification=true
tenants:
  diku:
roles:
  diku_admin_role:
    tenant: diku
    capability-sets: ["all"]
sidecar-module:
  image: folio-module-sidecar
  environment:
    # Kafka
    ENV: folio
    KAFKA_HOST: kafka.eureka
    KAFKA_PORT: 9092
    # Keycloak
    MOD_USERS_KEYCLOAK_URL: http://mod-users-keycloak-sc.eureka:8081
    # Management
    TM_CLIENT_URL: http://mgr-tenants.eureka:8081
    AM_CLIENT_URL: http://mgr-applications.eureka:8081
    TE_CLIENT_URL: http://mgr-tenant-entitlements.eureka:8081
    # Sidecar
    SIDECAR: "true"
    SIDECAR_FORWARD_UNKNOWN_REQUESTS: "true"
    SIDECAR_FORWARD_UNKNOWN_REQUESTS_DESTINATION: http://kong.eureka:8000
    QUARKUS_HTTP_PORT: 8081
    QUARKUS_REST_CLIENT_READ_TIMEOUT: 180000
    QUARKUS_REST_CLIENT_CONNECT_TIMEOUT: 180000
    QUARKUS_REST_CLIENT_SEND_TIMEOUT: 180000
    QUARKUS_HTTP_LIMITS_MAX_INITIAL_LINE_LENGTH: 8192
    SC_LOG_LEVEL: INFO
    ROOT_LOG_LEVEL: INFO
    REQUEST_TIMEOUT: 604800000
    ALLOW_CROSS_TENANT_REQUESTS: "true"
    # Java
    JAVA_OPTIONS: >-
      -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
      -XX:+UseZGC -XX:MaxRAMPercentage=80.0 -Xms64m -Xmx64m
      -Dquarkus.http.host=0.0.0.0 -Dquarkus.log.level=INFO -Dquarkus.log.category.'org.apache.kafka'.level=INFO 
      -Djava.util.logging.manager=org.jboss.logmanager.LogManager
backend-modules:
  # ERM
  mod-licenses:
    private-port: 8080
  mod-agreements:
    private-port: 8080
    resources:
      memory: 3072
    environment:
      INGRESS_TYPE: PushKB
      JAVA_OPTIONS: >-
        -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
        -XX:MaxRAMPercentage=80.0 -Xms256m -Xmx2048m
        -Djdk.internal.httpclient.disableHostnameVerification=true
  mod-okapi-facade:
    environment:
      TENANT_APPS_TTL: 600s
      AM_TLS_ENABLED: "false"
      TM_TLS_ENABLED: "false"
      TE_TLS_ENABLED: "false"
      AM_CLIENT_URL: http://mgr-applications.eureka:8081
      MT_CLIENT_URL: http://mgr-tenants.eureka:8081
      TE_URL: http://mgr-tenant-entitlements.eureka:8081
  # eUsage
  mod-erm-usage:
  mod-erm-usage-harvester:
    environment:
      OKAPI_URL: http://mod-erm-usage-harvester-sc.eureka:8081
  mod-eusage-reports:
  # Serials
  mod-serials-management:
    private-port: 8080
  # OA
  mod-oa:
    private-port: 8080
frontend-modules:
  # ACQ
  folio_plugin-find-contact:
  folio_plugin-find-interface:
  folio_plugin-find-fund:
  # ERM
  folio_licenses:
  folio_plugin-find-license:
  folio_agreements:
  folio_plugin-find-agreement:
  folio_local-kb-admin:
  folio_plugin-find-eresource:
  folio_dashboard:
  # eUsage
  folio_plugin-eusage-reports:
  folio_erm-comparisons:
  folio_erm-usage:
  folio_plugin-find-erm-usage-data-provider:
  # Serials
  folio_serials-management:
  # OA
  folio_oa:
